click==7.1.2
Flask==2.2.5
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
imutils==0.5.4
itsdangerous==2.0.1
Jinja2==2.11.3
MarkupSafe==1.1.1
numpy
opencv-python-headless==4.5.2.54
scipy==1.10.0
SQLAlchemy==1.4.12
waitress==2.1.2
Werkzeug==2.2.3
