<html lang="us">
<head>
    <title>Kazoeru</title>
    <link rel="stylesheet" href='/static/OLD/style.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

 <body onload="update_values();">
    <h1>OpenCV Crowd Counting in Flask Web App</h1>
    {% block body %}{% endblock %}
    <br><br>
    Number of People: <span style="color:white" id="crowd-data"></span><br>
    Crowd Status: <span style="color:white" id="crowd-status"></span><br>
    Train Status: <span style="color:white" id="train-status"></span>
    <p> Developed with <span style=color:red;">&hearts;</span> by Dinesh A/L S.Raju</p>

</body>

<script type="text/javascript">
    const intervalID = setInterval(update_values, 3000);
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    function update_values() {
        $.getJSON($SCRIPT_ROOT + '/crowd-data',
            function (data) {
                $('#crowd-data').text(data.crowd_count);
                $('#crowd-status').text(data.crowd_status);
                $('#train-status').text(data.train_status);
            })
    }
</script>

</html>
