<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link href="../static/assets-website/images/logo.png" rel="shortcut icon" type="image/x-icon" />
    <link href="../static/assets-external/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/assets-external/css/fontawesome-all.css" rel="stylesheet" />
    <link href="../static/assets-website/css/style-home.css" rel="stylesheet">
    <title>About - Kazoeru</title>
</head>

<body>
    <!-- Navbar -->
     <nav class="navbar navbar-expand-xl bg-nav pt-xl-5">
     <div class="container">
        <a class="navbar-brand" href="/"><img alt="logo" class="logo-pt-2" src=../static/assets-website/images/logo-banner.png></a>
        <button class="navbar-toggler align-content-end" data-target="#navbar" data-toggle="collapse" type="button">
            <i class="fas fa-bars" style="font-size: 175%;"></i></button>
         <div class="collapse navbar-collapse" id="navbar">
           <ul class="navbar-nav ml-auto">
              <li class="nav-item mx-auto pt-2"><a class="nav-link text-center started-navbar" href="/register">Register</a></li>
              <li class="nav-item text-none mx-auto pt-2"><a class="nav-link text-center text-none login-navbar" href="/login">Log In</a></li>
           </ul>
           <!--  -->
        </div>
     </div>
  </nav>

    <!-- Navbar End -->
    <hr><br>
    <!--    /////header content starts here////////////-->
    <div class="pt-1">
        <div class="container text-center text-white">
            <h1 class="font-700">About This Project</h1>
            <p class="font-m pt-4 text-left">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at ornare ex. Nam justo dolor, varius ornare cursus id, lobortis eget mi. Cras arcu dui, feugiat at sapien et, euismod aliquam augue. Nam porttitor porttitor mauris ac volutpat. Cras lorem quam, pharetra id justo malesuada, blandit vestibulum orci. Duis porta iaculis sapien, sit amet congue ex volutpat id. Nam venenatis magna eu quam consectetur faucibus. Maecenas iaculis non tortor at pulvinar. Proin tincidunt elit sit amet elementum ullamcorper. Aenean et posuere ligula. Donec varius urna id dui finibus tincidunt. Phasellus tempus eget urna eu pulvinar.                </p>
        </div>
    </div>

    <section class="bg-footer pt-4">
        <hr>
        <div class="container">
            <div class="row py-3 text-white justify-content-between">
            <div class="col-md-3 pt-3 pt-md-0">
              <p class="card-p2 "><span class="p1 footer-color medium">Links</span><br />
              <a href="/staff-login" style="color:white">Staff Login</a><br />
              <a href="/about" style="color:white">About this project</a><br />
           </div>
           <div class="col-md-3 pt-3 pt-md-0">
              <a href="/"><img class="img-fluid d-md-block" src=../static/assets-website/images/logo-banner.png></a>
              <p class="text-copyright medium pt-2">Developed with <span style=color:#ff0000;">&nbsp;&hearts;&nbsp;</span> by Dinesh A/L S.Raju<br>University Final Year Project &copy; 2021</p>
              <div class="footer-img py-3"></div>
           </div>

            </div>
        </div>
    </section>
</body>

<script src="../static/assets-external/js/jquery.min.js"></script>
<script src="../static/assets-external/js/bootstrap.min.js">
 new WOW().init();
</script>
</html>
