<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link href="../static/assets-website/images/logo.png" rel="shortcut icon" type="image/x-icon" />
    <link href="../static/assets-external/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/assets-external/css/fontawesome-all.css" rel="stylesheet" />
    <link href="../static/assets-website/css/style-home.css" rel="stylesheet">
    <title>About - Kazoeru</title>
</head>

<body>
    <!-- Navbar -->
     <nav class="navbar navbar-expand-xl bg-nav pt-xl-5">
     <div class="container">
        <a class="navbar-brand" href="/"><img alt="logo" class="logo-pt-2" src=../static/assets-website/images/logo-banner.png></a>
        <button class="navbar-toggler align-content-end" data-target="#navbar" data-toggle="collapse" type="button">
            <i class="fas fa-bars" style="font-size: 175%;"></i></button>
         <div class="collapse navbar-collapse" id="navbar">
           <ul class="navbar-nav ml-auto">
              <li class="nav-item mx-auto pt-2"><a class="nav-link text-center started-navbar" href="/register">Register</a></li>
              <li class="nav-item text-none mx-auto pt-2"><a class="nav-link text-center text-none login-navbar" href="/login">Log In</a></li>
           </ul>
           <!--  -->
        </div>
     </div>
  </nav>

    <!-- Navbar End -->
    <hr><br>
    <!--    /////header content starts here////////////-->
    <div class="pt-1">
        <div class="container text-center text-white">
            <h1 class="font-700">About This Project</h1>
            <p class="font-m pt-2 text-center">
                The application is built using Python, Flask, OpenCV, SQLite and uses the MobileNetSSD model to conduct crowd counting.
            </p>
            <h1 class="font-700">Acknowledgements</h1>
            <p class="font-m pt-2 text-left">
                 In terms of acknowledgements, I would like to give a huge thank you to everyone who provided their assistance to complete this project. A special thanks goes to Dr Vazeerudeen Abdul Hameed, who worked as my project supervisor for this project. Without the help and guidance from Dr Vazeerudeen, I would not have been able to complete the project.
                <br><br>
                Besides that, I would like to extend my appreciation to my family that supported me throughout my university study. Moreover, I appreciate everyone who has participated in my conducted research through the questionnaire and interview that helped me understand the project better by learning about their expectations for the crowd counting system. Finally, I also would like to give a huge thank you to my friends that assisted me by providing advice for the project.
            </p>
        </div>
    </div>

    <section class="bg-footer pt-4">
        <hr>
        <div class="container">
            <div class="row py-3 text-white justify-content-between">
            <div class="col-md-3 pt-3 pt-md-0">
              <p class="card-p2 "><span class="p1 footer-color medium">Links</span><br />
              <a href="/staff-login" style="color:white">Staff Login</a><br />
              <a href="/about" style="color:white">About this project</a><br />
           </div>
           <div class="col-md-3 pt-3 pt-md-0">
              <a href="/"><img class="img-fluid d-md-block" src=../static/assets-website/images/logo-banner.png></a>
              <p class="text-copyright medium pt-2">Developed with <span style=color:#ff0000;">&nbsp;&hearts;&nbsp;</span> by Dinesh A/L S.Raju<br>University Final Year Project &copy; 2021</p>
              <div class="footer-img py-3"></div>
           </div>

            </div>
        </div>
    </section>
</body>

<script src="../static/assets-external/js/jquery.min.js"></script>
<script src="../static/assets-external/js/bootstrap.min.js">
 new WOW().init();
</script>
</html>
